<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

    <script>
        // 定义模型名称和路径的数组
        var models = [
            {name: "chitose", path: "live2dw_chitose"},
            {name: "Epsilon2.1", path: "live2dw_epsilon2_1"},
            {name: "Gantzert_Felixander", path: "live2dw_gf"},
            {name: "haru01", path: "live2dw_haru_01"},
            {name: "haru02", path: "live2dw_haru_02"},
            {name: "haruto", path: "live2dw_haruto"},
            {name: "hibiki", path: "live2dw_hibiki"},
            {name: "hijiki", path: "live2dw_hijiki"},
            {name: "izumi", path: "live2dw_izumi"},
            {name: "koharu", path: "live2dw_koharu"},
            {name: "miku", path: "live2dw_miku"},
            {name: "nico", path: "live2dw_nico"},
            {name: "nietzche", path: "live2dw_nietzsche"},
            {name: "ni-j", path: "live2dw_ni-j"},
            {name: "nipsilon", path: "live2dw_nipsilon"},
            {name: "nito", path: "live2dw_nito"},
            {name: "shizuku", path: "live2dw_shizuku"},
            {name: "tororo", path: "live2dw_tororo"},
            {name: "tsumiki", path: "live2dw_tsumiki"},
            {name: "unitychan", path: "live2dw_unitychan"},
            {name: "wanko", path: "live2dw_wanko"},
            {name: "z16", path: "live2dw_z16"}
        ];

        // 随机选择一个模型
        var modelIndex = Math.floor(Math.random() * models.length);
        var selectedModel = models[modelIndex];

        // 动态创建并加载对应模型的L2Dwidget.min.js
        var script = document.createElement('script');
        script.src = "/live2d/" + selectedModel.path + "/lib/L2Dwidget.min.js";
        script.onload = function() {
            L2Dwidget.init({
                "pluginRootPath": "/live2d/" + selectedModel.path + "/",
                "pluginJsPath": "lib/",
                "pluginModelPath": "assets/",
                "model": {
                    "jsonPath": "/live2d/" + selectedModel.path + "/assets/" + selectedModel.name + ".model.json"
                },
                "display": {
                    "position": "right",
                    "width": 150,
                    "height": 300
                },
                "mobile": {
                    "show": true
                },
                "log": false
            });
        };
        document.head.appendChild(script);
    </script>

  </body>

</html>
