---
layout: default
---

<script>
  function verifyPassword() {
    var password = prompt('请输入密码:', '');
    if (password != 'youcracked') {
      document.body.innerHTML = '密码错误，没有访问权限！';
      return false;
    }
    return true;
  }
  if (!verifyPassword()) {
    // 可以选择重定向到其他页面，或者只显示错误消息
    window.location.href = '/404.html'; // 如果密码错误，重定向到错误页面
  }
</script>

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%}
  <!-- Download Button Container -->
  <!-- Download Button Container -->
  <div class="download-button-container">
    <a href="https://drive.google.com/drive/folders/1nvSjrIet3XLLEKNG_0olQObB4xuPFoKK?usp=drive_link" class="download-button">HenPri？</a>
  </div>

  </div>

</div>
